name: CICD for Nodejs Application with Docker
run-name: ${{ github.actor }} is running CICD for Nodejs Application with Docker

on:
  push:
    branches: 
        - feature/*
        - dev
  workflow_dispatch:

# permission can be added at job level or workflow level     
permissions: 
    id-token: write   # This is required for requesting the JWT 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: print environment
        run: | 
          echo "The current environment is ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"

      - name: your action
        run: |
          echo "Now you can continue with your project!"
    
  get-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Determine Environment and Set AWS Credentials
        id: set-credentials
        run: |
            if [[ ${{ github.ref }} == 'refs/heads/prod' ]]; then
            role_to_assume="arn:aws:iam::255945442255:role/test-oidc2"
            aws_region="ap-southeast-1"
            elif [[ ${{ github.ref }} == 'refs/heads/stage' ]]; then
            role_to_assume="arn:aws:iam::255945442255:role/test-oidc2"
            aws_region="ap-southeast-1"
            else
            role_to_assume="arn:aws:iam::255945442255:role/test-oidc2"
            aws_region="ap-southeast-1"
            fi

            echo "::set-output name=role_to_assume::$role_to_assume"
            echo "::set-output name=aws_region::$aws_region"
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
            role-to-assume: ${{ steps.set-credentials.outputs.role_to_assume }}
            aws-region: ${{ steps.set-credentials.outputs.aws_region }}
      - name: aws cli show Secret
        run: |
            aws secretsmanager get-secret-value --secret-id POHLENG-SECRET
      - name: aws cli show SSM
        run: |
            aws ssm get-parameter --name pohleng-parameter
 

          
          
