# set-secret-workflow.yml

name: Set AWS Secret

on:
  workflow_call:
    inputs:
    repo-name:
      required: true
      type: string
    ref-name:
      required: true
      type: string

jobs:
  get-secret:
    runs-on: ubuntu-latest
    steps:
        # Checkout the repo     
      - uses: actions/checkout@v2
        with:
          repository: ${{inputs.repo-name}}
          ref: ${{inputs.ref-name}}
         
        name: Determine Environment and Set AWS Credentials
            id: set-credentials
            run: |
                if [[ ${{ github.ref }} == 'refs/heads/prod' ]]; then
                  ENV_FILE="env_var/prod"
                elif [[ ${{ github.ref }} == 'refs/heads/stage' ]]; then
                  ENV_FILE="env_var/stage"
                else
                  ENV_FILE="env_var/dev"
                fi
                # Read the variables from the selected environment file
                source $ENV_FILE
                # Export BUILD_ENV as an environment variable
                echo "BUILD_ENV=$BUILD_ENV"
                aws_region=$AWS_REGION
                echo "AWS_REGION=$AWS_REGION"
                role_to_assume=$ROLE_TO_ASSUME
                echo "ROLE_TO_ASSUME=$ROLE_TO_ASSUME"
                #echo "::set-output name=role_to_assume::$role_to_assume"
                echo "role_to_assume=$role_to_assume" >> $GITHUB_OUTPUT
                #echo "::set-output name=aws_region::$aws_region"
                echo "aws_region=$aws_region" >> $GITHUB_OUTPUT
            shell: bash
